

<header id="header" class="header d-flex align-items-center sticky-top">
  <div class="container-fluid container-xl position-relative d-flex align-items-center">

    <a href="index.html" class="logo d-flex align-items-center me-auto">
      <!-- Uncomment the line below if you also wish to use an image logo -->
      <!-- <img src="/static/img/logo.png" alt=""> -->
      <h1 class="">LEXIQUEST</h1>
    </a>

    <nav id="navmenu" class="navmenu">
      <ul>
        <li><a href="{% url 'home' %}" class="active">Home</a></li>
        <li><a href="{% url 'about' %}">About</a></li>
        {% if user.is_authenticated %}
        <li><a href="{% url 'lesson' %}">Lesson</a></li>
        <li><a href="{% url 'certificate' %}">Certificate</a></li>
        
       

        {% endif %}
                

        {% if not user.is_authenticated %}
        <li class="dropdown"><a href="#"><span>Account</span> <i
                    class="bi bi-chevron-down dropdown-indicator"></i></a>
            <ul>
                <li> <a href="{% url 'slogin' %}">Login</a></li>
                <li><a href="{% url 'sregister' %}">Register</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </li>
        {% else %}
        <li class="dropdown">
            <a href="#">
                <span>
                    <i class="bi bi-person-circle"></i>
                </span>
                <i class="bi bi-chevron-down dropdown-indicator"></i>
            </a>
            <ul>
                <li> <a href="{% url 'dashboard' %}">Dashboard</a></li>
                <li> <a href="{% url 'create_profile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Logout</a></li>
                <li><a href="contact.html">Contact</a></li>
            </ul>
        </li>
        {% endif %}
      </ul>
      <i class="mobile-nav-toggle d-xl-none bi bi-list"></i>
    </nav>

  </div>
</header>
